.list-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(var(--height-header-navbar-top) + var(--height-header-navbar-center));
    left: 0;
    right: 0;
    background-color: color(--white-color);
    animation: showListMenu 0.2s linear;
    height: 100vh;
    z-index: 999;
}

.list-menu.hidden {
    display: none;
    transform: translateY(-30px);
    opacity: 1;
    animation: hiddenListMenu 0.2s linear;
}

.list-menu::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    top: -20px;
    background-color: transparent;
}

.list-menu.hidden::before {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    top: -20px;
    background-color: transparent;
}

@keyframes showListMenu {
    50% {
        transform: translateY(-20px);
        opacity: 0.6;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hiddenListMenu {
    50% {
        transform: translateY(-20px);
        opacity: 0.6;
    }

    100% {
        transform: translateY(-30px);
        opacity: 0;
    }
}

.list-body {
    background-color: #fff;
}

.list-overlay {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.4);
}