.menu-header {
    font-size: 1.6rem;
    color: #111;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 14px;
}

.menu-item {
    padding: 6px 0;
}


.menu-link {
    display: block;
    line-height: inherit;
    color: #757575;
    font-size: 1.4rem;
}

.menu-link:hover {
    text-decoration: none;
    color: #111;
}

.menu-item-icon~.menu-link,
.menu-link~.menu-item-icon {
    margin-left: 12px;
}