.fillter {
    display: block;
    padding: 20px 20px 20px 0;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fillter.hidden {
    display: none;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fillter-suitable-item,
.fillter-types-item {
    font-size: 1.6rem;
    padding-bottom: 20px;
    cursor: pointer;
    user-select: none;
}

.fillter-suitable-item.active,
.fillter-suitable-item:hover,
.fillter-types-item.active,
.fillter-types-item:hover {
    text-decoration: underline;
    font-size: 1.8rem;
}

.fillter-separator {
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.fillter-sizes,
.fillter-colors,
.fillter-brands {
    position: relative;
}

.btn-toggle-suitable,
.btn-toggle-gender,
.btn-toggle-brand,
.btn-toggle-sizes,
.btn-toggle-color {
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    height: 24px;
}

.fillter-gender-list,
.fillter-brands-list {
    padding-left: 15px;
}

.fillter-types-clothing,
.fillter-suitable-list,
.fillter-gender-list,
.fillter-brands-list,
.fillter-colors-list,
.fillter-sizes-list {
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.fillter-sizes-item,
.fillter-colors-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.fillter-colors-value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-bottom: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.fillter-colors-value:hover>img {
    display: block;
}

.fillter-colors-icon {
    display: none;
}

.fillter-colors-value.active>img {
    display: block;
}

.fillter-colors-name {
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color);
}

.fillter-sizes-item {
    justify-content: center;
    height: 36px;
    padding: 0 15px;
}

.fillter-sizes-item_btn {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
    border: 1px solid #ccc;
    padding-bottom: 2px;
    background-color: transparent;
    border-radius: 4px;
}

.fillter-sizes-item_btn.active {
    border-color: #111;
}

.fillter-gender-item,
.fillter-brands-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 24px;
    margin-bottom: 10px;
}

.filter-gender-checkbox,
.fillter-brands-item>input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.filter-gender-checkbox:checked,
.filter-gender-checkbox:checked {
    background-color: #111;
}

.fillter-gender-title,
.fillter-brands-title {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-left: 10px;
}

.filter-gender-checkbox.block {
    pointer-events: none;
    cursor: not-allowed;
}